<header>
  <h1>
    {{#if showIcon}}
      <i class="fa-solid fa-cloud-sun" aria-hidden="true"></i>
    {{/if}}
    {{title}}
  </h1>
  
  <a href="/">Weather</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>
</header>