body {
  box-sizing: border-box;
  color: #333333;
  background-color: #e0f0f7;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

footer {
  color: #888888;
  border-top: 1px solid #888888;
  margin: 16px 20px 0;
  padding: 16px 0;
}

/* .help-info { */
  /* background-color: white; */

/* } */