body {
  color: #333333;
  background-color: #e0f0f7;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  color: #004a7f;
  border-bottom: 1px solid #004a7f;
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  border-radius: 2px;
  color: #888888;
  text-decoration: none;
  padding: 10px;
}

header a:hover {
  background-color: #a3c1d5;
  color: black;
}

input {
  border-radius: 2px;
  border: 1px solid #004a7f;
  font-size: 1rem;
  margin: 10px 0;
  padding: 8px;
}

button {
  border-radius: 2px;
  border: 1px solid #004a7f;
  background: #004a7f;
  color: white;
  letter-spacing: 3px;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #a3c1d5;
  color: black;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #004a7f;
  border-top: 1px solid #004a7f;
  margin-top: 16px;
  padding: 16px 0;
}

.footer__links a {
  color: #004a7f;
  text-decoration: none;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-intro {
  text-align: center;
  margin: 0 0 20px;
}

.weather-intro__body {
  margin: 0;
}

.weather-form {
  display: flex;
  flex-direction: column;
}

.weather-form__options {
  margin: 20px 0;
}

.weather-results {
  display: none;
  background-color: #a3c1d5;
  max-width: 75%;
}

#message-one {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 20px 0;
}

#message-two {
  padding: 0 20px 20px;
}

.about__body {
  font-size: 1.2rem;
}

.about__body a {
  color: black;
}

.portrait {
  width: 250px;
}

.help-info {
  margin: 10% 0;
}

.help-info__body {
  font-size: 1.2rem;
}

.help-info__body a {
  color: black;
}

.help-info__question {
  font-weight: 600;
  margin-top: 1rem;
}

.help-info__faq dd {
  margin-left: 1.5rem;
}