body {
  color: #333333;
  background-color: #e0f0f7;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888888;
  border-top: 1px solid #888888;
  margin-top: 16px;
  padding: 16px 0;
}

.footer__links a {
  color: #888888;
  text-decoration: none;
}

.weather-form__options {
  width: 60%;
  margin: 20px 0;
}

.about__body {
  font-size: 1.2rem;
}

.about__body a {
  color: black;
}

.portrait {
  width: 250px;
}

.help-info {
  margin: 10% 0;
}

.help-info__body {
  font-size: 1.2rem;
}

.help-info__body a {
  color: black;
}

.help-info__question {
  font-weight: 600;
  margin-top: 1rem;
}

.help-info__faq dd {
  margin-left: 1.5rem;
}